<div class="page-content-wrapper-inner">

<div class="content-viewport">
  <div class="row">
    <div class="col-12 py-5">
      <h4>Overview</h4>
<!--      <p class="text-gray">Welcome aboard, Allen Clerk</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-6 equel-grid">
      <div class="grid">
        <div class="grid-body text-gray">
          <div class="d-flex justify-content-between">
            <p>50</p>
            <p>+06.2%</p>
          </div>
          <p class="text-black">Kotlin Event</p>
          <div class="wrapper w-50 mt-4">
            <canvas height="45" id="stat-line_1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 equel-grid">
      <div class="grid">
        <div class="grid-body text-gray">
          <div class="d-flex justify-content-between">
            <p>43%</p>
            <p>+15.7%</p>
          </div>
          <p class="text-black">Conversion</p>
          <div class="wrapper w-50 mt-4">
            <canvas height="45" id="stat-line_2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-6 equel-grid">
      <div class="grid">
        <div class="grid-body text-gray">
          <div class="d-flex justify-content-between">
            <p>23%</p>
            <p>+02.7%</p>
          </div>
          <p class="text-black">Bounce Rate</p>
          <div class="wrapper w-50 mt-4">
            <canvas height="45" id="stat-line_3"></canvas>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 equel-grid">
      <div class="grid table-responsive">
        <table class="table table-stretched">
          <thead>
          <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">AAPL</p>
              <small class="text-gray">Apple Inc.</small>
            </td>
            <td class="font-weight-medium">198.18</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-1.39%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NKE</p>
              <small class="text-gray">Nike,Inc.</small>
            </td>
            <td class="font-weight-medium">03.95</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-danger">-1.17%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NSEI</p>
              <small class="text-gray">Nifty 50</small>
            </td>
            <td class="font-weight-medium">11,278</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-0.24%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">BA</p>
              <small class="text-gray">The Boeing Company</small>
            </td>
            <td class="font-weight-medium">354.67</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.15%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">SBUX</p>
              <small class="text-gray">Starbucks Corporation</small>
            </td>
            <td class="font-weight-medium">08.42</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.67%</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 equel-grid">
      <div class="grid table-responsive">
        <table class="table table-stretched">
          <thead>
          <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">AAPL</p>
              <small class="text-gray">Apple Inc.</small>
            </td>
            <td class="font-weight-medium">198.18</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-1.39%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NKE</p>
              <small class="text-gray">Nike,Inc.</small>
            </td>
            <td class="font-weight-medium">03.95</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-danger">-1.17%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NSEI</p>
              <small class="text-gray">Nifty 50</small>
            </td>
            <td class="font-weight-medium">11,278</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-0.24%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">BA</p>
              <small class="text-gray">The Boeing Company</small>
            </td>
            <td class="font-weight-medium">354.67</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.15%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">SBUX</p>
              <small class="text-gray">Starbucks Corporation</small>
            </td>
            <td class="font-weight-medium">08.42</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.67%</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 equel-grid">
      <div class="grid table-responsive">
        <table class="table table-stretched">
          <thead>
          <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">AAPL</p>
              <small class="text-gray">Apple Inc.</small>
            </td>
            <td class="font-weight-medium">198.18</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-1.39%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NKE</p>
              <small class="text-gray">Nike,Inc.</small>
            </td>
            <td class="font-weight-medium">03.95</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-danger">-1.17%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">NSEI</p>
              <small class="text-gray">Nifty 50</small>
            </td>
            <td class="font-weight-medium">11,278</td>
            <td class="text-danger font-weight-medium">
              <div class="badge badge-success">-0.24%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">BA</p>
              <small class="text-gray">The Boeing Company</small>
            </td>
            <td class="font-weight-medium">354.67</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.15%</div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-n1 font-weight-medium">SBUX</p>
              <small class="text-gray">Starbucks Corporation</small>
            </td>
            <td class="font-weight-medium">08.42</td>
            <td class="text-success font-weight-medium">
              <div class="badge badge-success">+0.67%</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 equel-grid">
      <div class="grid">
        <div class="grid-body py-3">
          <p class="card-title ml-n1">Order History</p>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
            <tr class="solid-header">
              <th colspan="2" class="pl-4">Customer</th>
              <th>Order No</th>
              <th>Purchased On</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_4.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Barbara Curtis</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-primary"></span>Account Deactivated </span>
              </td>
              <td>
                <small>8523537435</small>
              </td>
              <td> Just Now </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_3.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Charlie Hawkins</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
              </td>
              <td>
                <small>9537537436</small>
              </td>
              <td> Mar 04, 2018 11:37am </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/female/image_2.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Nina Bates</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-warning"></span>Payment On Hold </span>
              </td>
              <td>
                <small>7533567437</small>
              </td>
              <td> Mar 13, 2018 9:41am </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_10.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Hester Richards</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
              </td>
              <td>
                <small>5673467743</small>
              </td>
              <td> Feb 21, 2018 8:34am </td>
            </tr>
            </tbody>
          </table>
        </div>
        <a class="border-top px-3 py-2 d-block text-gray" href="#">
          <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Order History</small>
        </a>
      </div>
    </div>
  </div>

  <div>
    <div class="col-md-12 equel-grid">
      <div class="grid">
        <div class="grid-body py-3">
          <p class="card-title ml-n1">Order History</p>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
            <tr class="solid-header">
              <th colspan="2" class="pl-4">Customer</th>
              <th>Order No</th>
              <th>Purchased On</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_4.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Barbara Curtis</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-primary"></span>Account Deactivated </span>
              </td>
              <td>
                <small>8523537435</small>
              </td>
              <td> Just Now </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_3.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Charlie Hawkins</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
              </td>
              <td>
                <small>9537537436</small>
              </td>
              <td> Mar 04, 2018 11:37am </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/female/image_2.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Nina Bates</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-warning"></span>Payment On Hold </span>
              </td>
              <td>
                <small>7533567437</small>
              </td>
              <td> Mar 13, 2018 9:41am </td>
            </tr>
            <tr>
              <td class="pr-0 pl-4">
                <img class="profile-img img-sm" src="../assets/images/profile/male/image_10.png" alt="profile image">
              </td>
              <td class="pl-md-0">
                <small class="text-black font-weight-medium d-block">Hester Richards</small>
                <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
              </td>
              <td>
                <small>5673467743</small>
              </td>
              <td> Feb 21, 2018 8:34am </td>
            </tr>
            </tbody>
          </table>
        </div>
        <a class="border-top px-3 py-2 d-block text-gray" href="#">
          <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View All Order History</small>
        </a>
      </div>
    </div>
  </div>

</div>
</div>
