<div class="sidebar" [@slideInOut]="menuState">

  <ul class="navigation-menu">
    <li class="nav-category-divider">MAIN</li>
    <li>
      <a routerLink="/dashboard">
        <span class="link-title">Overview</span>
        <i class="mdi mdi-view-dashboard link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/profile">
        <span class="link-title">Users</span>
        <i class="mdi mdi-account link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/create">
        <span class="link-title">Products</span>
        <i class="mdi mdi-clipboard-outline link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Services</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Orders</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Trade</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Transactions</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Statistics</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Settings</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings">
        <span class="link-title">Logout</span>
        <i class="mdi mdi-settings link-icon"></i>
      </a>
    </li>
  </ul>
</div >
