<div class="page-content-wrapper-inner">

<div class="row">
  <div class="col-12 py-5">
    <p class="text-gray">User Management</p>

    <h4>Users</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12 equel-grid">
    <div class="grid">
      <div class="grid-body py-3">
        <p class="card-title ml-n1"></p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
          <tr class="solid-header">
            <th colspan="2" class="pl-4">FullName</th>
            <th>User ID</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="pr-0 pl-4">
              <img class="profile-img img-sm" src="../assets/images/profile/male/image_4.png" alt="profile image">
            </td>
            <td class="pl-md-0">
              <small class="text-black font-weight-medium d-block">Barbara Curtis</small>
              <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-primary"></span>Account Deactivated </span>
            </td>
            <td>
              <small>8523537435</small>
            </td>
            <td> Just Now </td>
          </tr>
          <tr>
            <td class="pr-0 pl-4">
              <img class="profile-img img-sm" src="../assets/images/profile/male/image_3.png" alt="profile image">
            </td>
            <td class="pl-md-0">
              <small class="text-black font-weight-medium d-block">Charlie Hawkins</small>
              <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
            </td>
            <td>
              <small>9537537436</small>
            </td>
            <td> Mar 04, 2018 11:37am </td>
          </tr>
          <tr>
            <td class="pr-0 pl-4">
              <img class="profile-img img-sm" src="../assets/images/profile/female/image_2.png" alt="profile image">
            </td>
            <td class="pl-md-0">
              <small class="text-black font-weight-medium d-block">Nina Bates</small>
              <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-warning"></span>Payment On Hold </span>
            </td>
            <td>
              <small>7533567437</small>
            </td>
            <td> Mar 13, 2018 9:41am </td>
          </tr>
          <tr>
            <td class="pr-0 pl-4">
              <img class="profile-img img-sm" src="../assets/images/profile/male/image_10.png" alt="profile image">
            </td>
            <td class="pl-md-0">
              <small class="text-black font-weight-medium d-block">Hester Richards</small>
              <span class="text-gray">
                              <span class="status-indicator rounded-indicator small bg-success"></span>Email Verified </span>
            </td>
            <td>
              <small>5673467743</small>
            </td>
            <td> Feb 21, 2018 8:34am </td>
          </tr>
          </tbody>
        </table>
      </div>
      <a class="border-top px-3 py-2 d-block text-gray" href="#">
        <small class="font-weight-medium"><i class="mdi mdi-chevron-down mr-2"></i>View More</small>
      </a>
    </div>
  </div>
</div>
</div>
